<a href="https://colab.research.google.com/github/ZozolNat/pythonForAnalitic/blob/main/%D0%B4%D0%B72_%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%20%D0%B4%D0%B0%D1%82%D0%B0%D1%81%D0%B5%D1%82%D0%B0%20%D1%81%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C%D1%8E%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Условие 1: 1 задача
Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [10]:
import pandas as pd
df = pd.read_csv('/Семинар 2_вся таблица_kc-house-data.csv', encoding='1251', sep=',')
# encoding смена кодировки, sep разделение знаками препинания ( в данном случае запятыми в файле ).По умолчанию, sep в Pandas имеет значение ',', что означает, что данные в файле CSV должны быть разделены запятыми. Однако, вы можете изменить этот параметр на другой символ или строку, чтобы указать другой разделитель, если данные в файле CSV используют другой символ для разделения колонок.

In [11]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Условие 2: 2 задача
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [38]:
# Посмотреть на описание признаков и на их содержание

df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [39]:
# Изучите типы данных

df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

Все столбцы датасета состоят из числовых типов данных (int64, float64), за исключением одного столбца object (дата). Не содержит пустых ячеек.

#Условие 3: 3 задача
Ответьте на несколько вопросов
3.1 В каком диапазоне изменяются стоимости недвижимости?
3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
3.3 Как много домов с разными этажами в данных?
3.4 Насколько хорошие состояния у домов в данных?
3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

3.1 В каком диапазоне изменяются стоимости недвижимости?

In [43]:
df.price.min(), df.price.max() # максимальная и минимальная

(75000.0, 7700000.0)

In [42]:
df.price.mean() # средняя стоимость, здесь это не требуется, но для себя

540088.1417665294

3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [49]:
df['sqft_living'].mean()*100/df['sqft_lot'].mean() # не забываем представлять в квадратных скобказх с апострафами, как я поняла так более коректно, особонно в длинных кодах

13.76781757959227

3.3 Как много домов с разными этажами в данных?

In [51]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

3.4 Насколько хорошие состояния у домов в данных?

In [55]:
df['condition'].value_counts ()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [57]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

# Условие 4: 4 задача
Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?
4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
4.3 Как много домов коснулся ремонт?
4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [68]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

In [64]:
df.loc[df['bedrooms'] == 2, 'price'].mean()
# loc - это метод в Pandas для доступа и индексации данных в DataFrame по меткам (лейблам) строк и столбцов. Выглядит так df.loc[row_label, column_label], где row_label - метка (лейбл) строки или условие для фильтрации строк, а column_label - метка (лейбл) столбца или список меток столбцов.

401372.681884058

4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [71]:
df[df['price']>600000]['sqft_lot'].mean ()

20442.524776214832

4.3 Как много домов коснулся ремонт?

In [91]:
df[(df['yr_renovated'] != '0')].shape[0]
#shape[0] получаете количество выбранных строк, т.е. в нашем случае колличество строк не равных нулю.Способ приведенный в ответах, олнако я делала альтернативным способом

21613

In [89]:
(df['yr_renovated'] != '0').value_counts()

True    21613
Name: yr_renovated, dtype: int64

In [81]:

(df['yr_renovated'] != '0').count()

21613

In [86]:
(df['yr_renovated'] != '0').sum()

21613

4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [107]:
df[(df['grade'] >10) & (df['grade']<4)]['price'].mean()

nan

In [110]:
df[(df['grade'] > 10)]['price'].mean() - df[(df['grade'] < 4)]['price'].mean() # это мой ваариант который ищет сначала среднее по указанным
# критериям больше 10, а потом вычитает найденное среднее цена по критериям меньше.Все в одной строке

1488885.1175298805

In [113]:
#вариант по действиям
grade10_pricemean = df[df['grade'] > 10]['price'].mean() # ищем среднее цену более 10
grade10_pricemean

1678635.1175298805

In [14]:
grade4_pricemean = df[df['grade'] < 4]['price'].mean() # ищем среднее менее 4
grade4_pricemean

189750.0

In [116]:
grade10_pricemean - grade4_pricemean

1488885.1175298805

# Условие 5: 5 задача
Ответьте на несколько вопросов
5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [31]:
df[(df['bathrooms'] >= 3) & (df['waterfront'] >= 1) & (df ['sqft_basement'] != 0)].count ()

id               41
date             41
price            41
bedrooms         41
bathrooms        41
sqft_living      41
sqft_lot         41
floors           41
waterfront       41
view             41
condition        41
grade            41
sqft_above       41
sqft_basement    41
yr_built         41
yr_renovated     41
zipcode          41
lat              41
long             41
sqft_living15    41
sqft_lot15       41
dtype: int64

In [32]:
housforclient = df[(df['bathrooms'] >= 3) & (df['waterfront'] != 0) & (df['sqft_basement'] != 0)].shape[0]
housforclient

41

In [33]:
housforclient = df[(df['bathrooms'] > 3) & (df['waterfront'] != 0) & (df['sqft_basement'] != 0)].shape[0] #если больше трех ванн!!!( в ответах такой ответ), хотя я считаю правильнее искать не менее по заданию , значит три и более!!
housforclient

36

 5.2 Выберите дом клиенту Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [45]:
#все в одной строке
df[((df['view'] == 4) | (df['waterfront'] != 0)) & (df['condition'] == 5) & (df['yr_built'] >= 1981)]['price'].min (), df[((df['view'] == 4) | (df['waterfront'] != 0)) & (df['condition'] == 5) & (df['yr_built'] >= 1981)]['price'].max ()

(1295000.0, 3000000.0)

In [46]:
#по этапам
housforclient2 = df[((df['view'] == 4) | (df['waterfront'] != 0)) & (df['condition'] == 5) & (df['yr_built'] >= 1981)]
housforclient2

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
14682,7278100515,20140821T000000,1295000.0,2,2.50,2910,19449,2.0,1,4,...,9,1940,970,1985,0,98177,47.7729,-122.393,2540,23598
17312,3585901025,20140613T000000,1735000.0,3,2.50,4310,32093,1.5,0,4,...,10,2510,1800,1982,0,98177,47.7624,-122.380,3810,26400
18991,7856400300,20140702T000000,1411600.0,2,2.50,3180,9400,2.0,0,4,...,10,2610,570,1985,0,98006,47.5617,-122.158,3760,9450
18992,7856400300,20150322T000000,1505000.0,2,2.50,3180,9400,2.0,0,4,...,10,2610,570,1985,0,98006,47.5617,-122.158,3760,9450

In [47]:
housforclient2 ['price'].min (), housforclient2 ['price'].max ()

(1295000.0, 3000000.0)

5.3 Выберите дом клиенту Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [53]:
housforclient3 = df[(df['price'] < 150000) & (df['floors'] == 2)  & (df['sqft_basement'] == 0)]
housforclient3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2589,5061300030,20140508T000000,134000.0,2,1.50,980,5000,2.0,0,0,...,7,980,0,1922,2003,98014,47.7076,-121.359,1040,5000
10105,5466310060,20150324T000000,139500.0,2,1.50,1230,1561,2.0,0,0,...,7,1230,0,1983,0,98042,47.3768,-122.149,1660,2243
15610,7614100080,20150211T000000,140000.0,3,1.75,1270,8991,2.0,0,0,...,7,1270,0,1981,0,98042,47.3563,-122.149,1270,8993
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,7,1200,0,1908,0,98116,47.5883,-122.384,3290,6000
18939,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,0,0,...,6,980,0,1969,0,98092,47.3170,-122.182,980,3154
18988,7399100210,20141126T000000,140000.0,3,1.50,1200,2002,2.0,0,0,...,8,1200,0,1966,0,98055,47.4659,-122.189,1270,1848

In [54]:
housforclient3['condition'].mean () # состояние

2.8333333333333335

In [55]:
housforclient3['grade'].mean () # оценка?

7.0